@model IEnumerable<ChattingApp.Models.Jobinfo>

@{
    ViewData["Title"] = "Job";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/chat.js"></script>
		
<div class="content container-fluid">
<section class="page-content p-t-30" id="message-wrapper">

    <div class="card">
        <div class="card-header">				
            <h4>Jobinfo</h4>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Job">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label for="jobname" class="control-label"></label>
                            <input name="jobname" class="form-control" required/>
                            <span validation-for="jobname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
                 <div class="col-md-8">
                      <table class="table table-bordered">
                <thead>
                    <tr>
                         <th>
              
                        </th>
                        <th>
                         Name
                        </th>
                        <th>
            
                        </th>
           
                    </tr>
                </thead>

                <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                        #
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.jobname)
                        </td>
          
                        <td>
                        <a class="btn btn-danger" asp-action="DeleteJob" asp-route-id="@item.jobid">Delete</a>
                        </td>
            
                    </tr>
                }
                </tbody>
            </table>

            </div>
            </div>
        </div>
    </div>
</section>
</div>




