
@{
    ViewData["Title"] = "Useropload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
		<div class="content container-fluid">
					<section class="page-content p-t-30" id="message-wrapper">
						<div class="card">
							<div class="d-flex flex fixed-height" id="3-col-wrapper">
 <div class="card">
      <label>@TempData["msg"]</label>
      <form asp-action="Useropload" enctype="multipart/form-data">
          <div class="card-header">
              <h4>User input using file</h4>
          </div> 
          <div class="card-body">
               
                  <div class="d-flex flex-row" >
                   <input type="file" name="xFile" />
                   <button type="submit">Confirm</button><br />
                 
                  </div>
                 
          </div>
          </form>
        </div>

        </div>
</div>
</section>
</div>

